.img-carrosel {
    object-fit: cover;
    object-position: 0 75%;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-titulo {
    color: #4E0600 !important;
}

.cor-botao {
    background-color: #4E0600;
    color: white;
}

.borda-cor {
    border-color: #4E0600;
}

.card-img {
    object-fit: cover;
    object-position: 0 60%;
    height: 200px;
}

.card-width {
    max-width: 18rem;
}